In [9]:
# Be sure to run this first!
import sqlite3

1) Add South Korea to the 'countries' table. The country_id should be SK, and the region_id will be 3 (Asia).

In [4]:
con = sqlite3.connect('example.db')

# Creating cursor object and namimg it as cur
cur = con.cursor()




# Close the DB connection
con.close()

In [5]:
# This will display the countries table.
con = sqlite3.connect('example.db')

# Creating cursor object and namimg it as cur
cur = con.cursor()


s = "SELECT * FROM countries;"
cur.execute(s)

output = cur.fetchall()

print(output)

# Close the DB connection
con.close()

[('AR', 'Argentina', 2), ('AU', 'Australia', 3), ('BE', 'Belgium', 1), ('BR', 'Brazil', 2), ('CA', 'Canada', 2), ('CH', 'Switzerland', 1), ('CN', 'China', 3), ('DE', 'Germany', 1), ('DK', 'Denmark', 1), ('EG', 'Egypt', 4), ('FR', 'France', 1), ('HK', 'HongKong', 3), ('IL', 'Israel', 4), ('IN', 'India', 3), ('IT', 'Italy', 1), ('JP', 'Japan', 3), ('KW', 'Kuwait', 4), ('MX', 'Mexico', 2), ('NG', 'Nigeria', 4), ('NL', 'Netherlands', 1), ('SG', 'Singapore', 3), ('UK', 'United Kingdom', 1), ('US', 'United States of America', 2), ('ZM', 'Zambia', 4), ('ZW', 'Zimbabwe', 4)]

2) Select all jobs with a minimum salary that the user inputs.

In [ ]:
con = sqlite3.connect('example.db')

# Creating cursor object and namimg it as cur
cur = con.cursor()

#======================================================
s = "" # Write the select statement here!
#======================================================

cur.execute(s)

output = cur.fetchall()

print(output)

# Close the DB connection
con.close()

3) Get all employee names, emails, and phone numbers if they have one of those jobs with a minimum salary of 5,000.

In [1]:
# Hint, join the 'employees' table with 'jobs' on the 'job_id' column.


con = sqlite3.connect('example.db')

# Creating cursor object and namimg it as cur
cur = con.cursor()

#======================================================
s = "" # Write the select statement here!
#======================================================

cur.execute(s)

output = cur.fetchall()

print(output)

# Close the DB connection
con.close()

4) Update the 'regions' table. Let's change region 4 to Middle East, and add a fifth region for Africa so two different geographic regions are no longer combined into one.

In [ ]:
con = sqlite3.connect('example.db')

# Creating cursor object and namimg it as cur
cur = con.cursor()




# Close the DB connection
con.close()

In [8]:
# This will display the regions table.
con = sqlite3.connect('example.db')

# Creating cursor object and namimg it as cur
cur = con.cursor()


s = "SELECT * FROM regions;"
cur.execute(s)

output = cur.fetchall()

print(output)

# Close the DB connection
con.close()

[(1, 'Europe'), (2, 'Americas'), (3, 'Asia'), (4, 'Middle East and Africa')]

5) Have the user enter a table name. Display all data in that table.