# Creates a sample SQLite DB 
## SQL Statements from sqltutorial.org

In [2]:
# Parses a File into SQL Statements in a List
def filetosql(filename):
    sql = open(filename,"r")
    lines = sql.readlines()
    
    statements = []
    
    # we use state to add up the lines in a statement
    state = ""
    for l in lines:
        
        # add the line to the line before after stripping away whitespace and newline
        state += l.strip()
        
        if ";" in l: # If this is the end of a statement
            statements.append(state) # add the lines to the list
            state = "" # reset and prep for new statement

    return statements

# Import the library and create the connection
## For centralized databases this would look very different, we'd need a username and password, and a web connection.

In [3]:
# Import sqlite and connect to the database

import sqlite3
con = sqlite3.connect('example.db')

# Create/Insert Statements (only run this once)

In [4]:
## Creating cursor object and namimg it as cur
cur = con.cursor()
# For each statement, execute it

# Create Table Statements
for s in filetosql("sqlite.txt"):
    cur.execute(s)
    
# Insert Statements
for s in filetosql("sqlite-data.txt"):
    cur.execute(s)

# Commit to DB, only needed if we change anything
con.commit()

# Close the DB connection
con.close()

OperationalError: table regions already exists

# Sample of a select statement

In [10]:
con = sqlite3.connect('example.db')

# Creating cursor object and namimg it as cur
cur = con.cursor()


s = "SELECT country_name, region_name FROM regions, countries WHERE regions.region_id = countries.region_id;"
cur.execute(s)

output = cur.fetchall()

print(output)

#print("Country Name, Region Name\n")
for o in output:
    print("Country:",o[0]," Region:",o[1])

# Close the DB connection
con.close()

[('Argentina', 'Americas'), ('Australia', 'Asia'), ('Belgium', 'Europe'), ('Brazil', 'Americas'), ('Canada', 'Americas'), ('Switzerland', 'Europe'), ('China', 'Asia'), ('Germany', 'Europe'), ('Denmark', 'Europe'), ('Egypt', 'Middle East and Africa'), ('France', 'Europe'), ('HongKong', 'Asia'), ('Israel', 'Middle East and Africa'), ('India', 'Asia'), ('Italy', 'Europe'), ('Japan', 'Asia'), ('Kuwait', 'Middle East and Africa'), ('Mexico', 'Americas'), ('Nigeria', 'Middle East and Africa'), ('Netherlands', 'Europe'), ('Singapore', 'Asia'), ('United Kingdom', 'Europe'), ('United States of America', 'Americas'), ('Zambia', 'Middle East and Africa'), ('Zimbabwe', 'Middle East and Africa')]
Country: Argentina  Region: Americas
Country: Australia  Region: Asia
Country: Belgium  Region: Europe
Country: Brazil  Region: Americas
Country: Canada  Region: Americas
Country: Switzerland  Region: Europe
Country: China  Region: Asia
Country: Germany  Region: Europe
Country: Denmark  Region: Europe
Country: Egypt  Region: Middle East and Africa
Country: France  Region: Europe
Country: HongKong  Region: Asia
Country: Israel  Region: Middle East and Africa
Country: India  Region: Asia
Country: Italy  Region: Europe
Country: Japan  Region: Asia
Country: Kuwait  Region: Middle East and Africa
Country: Mexico  Region: Americas
Country: Nigeria  Region: Middle East and Africa
Country: Netherlands  Region: Europe
Country: Singapore  Region: Asia
Country: United Kingdom  Region: Europe
Country: United States of America  Region: Americas
Country: Zambia  Region: Middle East and Africa
Country: Zimbabwe  Region: Middle East and Africa

# Example of an insert statement

In [11]:
con = sqlite3.connect('example.db')

# Creating cursor object and namimg it as cur
cur = con.cursor()


i = "INSERT INTO countries(country_id,country_name,region_id) VALUES ('PK','Pakistan',3);"
cur.execute(i)

s = "SELECT * FROM countries;"
cur.execute(s)

output = cur.fetchall()

print(output)

# Close the DB connection
con.close()

[('AR', 'Argentina', 2), ('AU', 'Australia', 3), ('BE', 'Belgium', 1), ('BR', 'Brazil', 2), ('CA', 'Canada', 2), ('CH', 'Switzerland', 1), ('CN', 'China', 3), ('DE', 'Germany', 1), ('DK', 'Denmark', 1), ('EG', 'Egypt', 4), ('FR', 'France', 1), ('HK', 'HongKong', 3), ('IL', 'Israel', 4), ('IN', 'India', 3), ('IT', 'Italy', 1), ('JP', 'Japan', 3), ('KW', 'Kuwait', 4), ('MX', 'Mexico', 2), ('NG', 'Nigeria', 4), ('NL', 'Netherlands', 1), ('SG', 'Singapore', 3), ('UK', 'United Kingdom', 1), ('US', 'United States of America', 2), ('ZM', 'Zambia', 4), ('ZW', 'Zimbabwe', 4), ('PK', 'Pakistan', 3)]